{% extends "recadmin/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="x_panel">
<div class="x_content">
    <div class="row">
        <div class="page-title">
            <div class="title_left">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                <button type="button" class="btn btn-primary btn-topdomain" data-toggle="modal" data-target=".modal-topdomain" title="add">新增热门域名</button>
                </div>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="clear"></div>
    <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th class="a-center">
                  <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="column-title">名称</th>
                <th class="column-title">域名</th>
                <th class="column-title">运营商接入</th>
                <th class="column-title">备注</th>
                <th class="column-title no-link last"><span class="nobr">操作</span>
                </th>
                <th class="bulk-actions" colspan="5">
                    {% include "viewadmin/viewoperate_delete.html" %}
                </th>
              </tr>
            </thead>
            <tbody id="node1">
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>
<div class="modal fade modal-topdomain" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal-topdomain">
        </div>
    </div>
</div>
</div>
{% endblock %} 
{% block js %}
<script src="{% static 'viewadmin/js/topdomain.js' %}"></script>
{% endblock js %}